
.header-container
{
  padding: 20px;
  display:block;
  flex-direction: column;
}
.main-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 100px;
}
.score-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscore-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.map-container
{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items:center;
}
.map-highlights-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin: 50px
}